.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cell-input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 3px solid bisque;
  background-color: bisque
}

td {
  padding: 0;
}

.button-container {
  display: flex;
  width: 50vw;
  min-width: 400px;
  max-width: 500px;
  margin-top: 10px;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
}

.button:hover {
  filter: brightness(120%);
}

.solve {background-color: orange;}

.check {background-color: tomato;}

.reset {background-color: teal;}

.easy { background-color: teal;}

.medium { background-color: orange;}

.hard { background-color: tomato;}

.row-border {
  border-bottom: 2px solid black;
}

.col-border{
  border-right: 2px solid black;
}

.ButtonsTop {
  margin-bottom: 10px;
}